@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #b21bdb;
    --laranja: #6953e0;
    --azul-degrade: linear-gradient(97.54deg, #3CB371 35.49%, #4B0082 165.37%);
    --fonte-principal: "Poppins";
    --azul: #FF00FF;
    --fonte-secundario: "Josefin Sans";
    --preto: #8d417f;
    --cinza: #1d1f18;
    --cinza-claro: #e5ff00;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.card{
    color: #6953e0;
}